<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Edit Game</title>
        <style type = "text/css">
            body,h1{
                font-family: "Chalkduster",sans-serif
            }
            body{
                text-align: center;
            }
        </style>
    </head>
    <body>
        Modify game info<br />
        <form data-th-action="@{/dvds/edit/{id}(id=${dvd.id})}" data-th-object="${dvd}" data-th-method="put" role="form">
            Title: <input type="text" name="title" data-th-value="${dvd.title}" /><br />
            game Type:<br />
            <input type="radio" name="workoutType" value="Unknown" checked = "checked"/> Unknown<br />
            <input type="radio" name="workoutType" value="RPG" /> RPG<br />
            <input type="radio" name="workoutType" value="ACT" /> ACT<br />
            <input type="radio" name="workoutType" value="SPT" /> SPT<br />
            Station Type:
            <select name = "platform">
                <option value="Unknown">Unknown</option>
                <option value="Wii">Wii</option>
                <option value="PS4">PS4</option>
                <option value="XBOX">XBOX</option>
                <option value="NS" >NS</option>
            </select><br />
            <input type="submit" value="Update Game Info"/><br />
            <!--gameType: <span data-th-value="${dvd.WorkoutType}" /><br />-->
            <!--stationType: <span data-th-value = "${dvd.Platform}" />-->
        </form>
        <hr />
        <br />
        <div>
            <table style="border: 1px solid black" align = "center">
                <tr>
                    <th>GameId</th>
                    <th>CustomerId</th>
                    <th>Stars</th>
                </tr>                
                <tr data-th-each="rating : ${ratings}">
                    <td data-th-text="${rating.ratingPk.dvdId}"></td>
                    <td data-th-text="${rating.ratingPk.customerId}"></td>
                    <td data-th-text="${rating.stars}"></td>
                </tr>
            </table>
        </div>

        <form data-th-action = "@{/dvds}">
            <input type = "submit" value = "Back"/>
        </form>
    </body>
</html>
