<!DOCTYPE html>
<html>
    <head>
        <title>Manage Selling Games</title>
        <style type = "text/css">
            body,h1{
                font-family: "Chalkduster",sans-serif
            }
            body{
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1 data-th-inline="text">[[${#httpServletRequest.remoteUser}]]'s WeXgame!</h1>
        <div>
            <table align = "center" style="border: 1px solid black" border="2">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Game Type</th>
                    <th>Platform</th>
                </tr>                
                <tr data-th-each="dvd : ${dvds}">
                    <td data-th-text="${dvd.id}"></td>
                    <td data-th-text="${dvd.title}"></td>
                    <td data-th-text="${dvd.workoutType}"></td>
                    <td data-th-text="${dvd.platform}"></td>
                    <td><a data-th-href="@{/dvds/edit/{id}(id=${dvd.id})}">edit</a></td>
                    <td>
                        <form data-th-object="${dvd}" data-th-action="@{/dvds/{id}(id=${dvd.id})}" data-th-method="delete">
                            <input type="submit" value="delete" />
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        
        <hr />
        Add Game DISC<br />
        <form data-th-action="@{/dvds/add}" name="addDvdForm" method="post">
            Title: <input type="text" name="title" /><br />
            Game Type:<br />
            <input type="radio" name="workoutType" value="Unknown"/> Unknown<br />
            <input type="radio" name="workoutType" value="RPG" /> RPG <br />
            <input type="radio" name="workoutType" value="ACT" /> ACT <br />
            <input type="radio" name="workoutType" value="SPT" /> SPT <br />
            <input type = "radio" name = "workoutType" value = "FPS"/> FPS<br />
            Station Type:
                <select name = "platform">
                    <option value="Unknown">Unknown</option>
                    <option value="Wii">Wii</option>
                    <option value="PS4">PS4</option>
                    <option value="XBOX">XBOX</option>
                    <option value="NS" >NS</option>
                </select>
                <br />

                <input type="submit" value="Add Game"/>

        </form>
        
        <hr />
            <form data-th-action="@{/dvds/delete}" name="deleteDvdForm" method="delete">
            Input the id that you want to delete: <input type="text" name="id" /><br /> 
            <input type="submit" value="Delete the record"/>
            </form>
        <hr />

            <form data-th-action = "@{/mainpage}">
                <input type = "submit" value = "Back"/>
            </form>
            <form data-th-action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        

    </body>
</html>