<!DOCTYPE html>
<html>
    <head>
        <title>WeXgame</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"/>
        <style>
            body,h1 {font-family: "Raleway", sans-serif}
            body, html {height: 100%}
            .bgimg {
                background-image: url('http://img2.ali213.net/picfile/News/2016/04/07/20160407115613647.jpg');
                min-height: 100%;
                background-position: center;
                background-size: cover;
            }
        </style>
    </head>
    <body>
        <div  class = "w3-display-middle">
        <h1>Welcome to the weXgame store!</h1>
        <p> Where you get your willing games</p>
        <p>Click <a data-th-href="@{/dvds}">here</a> to get your willing games.</p>
        </div>
    </body>
</html>