<!DOCTYPE html>
<html>
    <head>
        <title>WeXgame</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"/>
        <style>
            body,h1 {font-family: "Raleway", sans-serif}
            body, html {height: 100%}
            body {
                background-image: url(image/hp.jpg);
                min-height: 100%;
                background-position: center;
                background-size: cover;
            }
        </style>
    </head>
    <body>
        <form data-th-action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        <div  class = "w3-display-middle">
        <h1>Exchage, Auction, Buy</h1>
        <hr />
            <p class="w3-large w3-center"><a data-th-href = "@{/dvds}"> Manage your selling game~</a></p>
        <hr />
            <p class="w3-large w3-center"> <a data-th-href = "@{/gameRequests}">Request Game you want</a></p>
        <hr />
            <p class="w3-large w3-center"> <a data-th-href = "@{/gameStations}">Add your game Station</a></p>
        <hr />  
            <p class="w3-large w3-center"> <a data-th-href = "@{/personalInfos}">Manage your Account</a></p>
        <hr />  
            <p class="w3-large w3-center"><a data-th-href="@{/files}">Upload your wish list</a></p>
        <hr />    
        </div>
    </body>
</html>