<!DOCTYPE html>
<html>
    <head>
        <title>Manage your Account:</title>
        <script type = "text/javascript" src = "http://www.javascript-validation.com/view/js/jvalidation.2.0.0.min.js"></script>
        <style type = "text/css">
            body,h1{
                font-family: "Chalkduster",sans-serif
            }
            body{
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1 data-th-inline="text" align = "center">[[${#httpServletRequest.remoteUser}]]'s WeXgame!</h1>

        <div>
            <table align = "center" style="border: 1px solid black" border = "1">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Membership Level</th>
                </tr>                
                <tr data-th-each="pI : ${personalInfos}">
                    <td data-th-text="${pI.id}"></td>
                    <td data-th-text="${pI.title}"></td>
                    <td data-th-text="${pI.phone}"></td>
                    <td data-th-text="${pI.address}"></td>
                    <td data-th-text="${pI.levelType}"></td>
                </tr>
            </table>
        </div>
        
        <hr />
        Your Update Info Record:<br />
        <form data-th-action="@{/personalInfos/add}" name="addpersonalInfoForm" method="post">
            Nickname: <input type="text" name="title"/><br />
            Phone No.: <input type = "text" name = "phone"/><br />
            Address: <input type = "text" name = "address"/><br />
            <hr />
            Wanna change your level?
            <select name = "levelType">
                <option value="guest">guest</option>
                <option value="silver">silver</option>
                <option value="gold">gold</option>
                <option value="platinum">platinum</option>
            </select><br />
            <input type = "submit" value = "Update" onclick="check();"/>
            <script type = "text/javascript">
                function check(){
                    requiredfield("title",5, "Enter your correct nickname");
                    numericfield("phone", 10, "Enter your correct phone number.");
                    requiredfield("address", 10, "Enter your correct address")
                }
                // if (isNaN(phone.value)){
                //     alert("error");
                //     phone.value="";
                // }  
            </script>
        </form>
        
        <hr />  
        

        <form data-th-action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        <form data-th-action = "@{/mainpage}">
            <input type = "submit" value = "Back"/>
        </form>
        

    </body>
</html>