<!DOCTYPE html>
<html>
    <head>
        <title>File Upload</title>
        <style type = "text/css">
            body,h1{
                font-family: "Chalkduster",sans-serif
            }
            body{
                text-align: center;
                background-image: url('http://xbhalo.blob.core.windows.net/wallpapers/halo-1980x1080.jpg');
            }
        </style>
    </head>
    <body>

        <div data-th-if="${message}">
            <h2 data-th-text="${message}"/>
        </div>

        <div>
            <form data-th-action="@{/files}" name="uploadFileForm" method="POST" enctype="multipart/form-data" >                
<!--            <form data-th-action="@{/files(${_csrf.parameterName}=${_csrf.token})}" name="uploadFileForm" method="POST" enctype="multipart/form-data" >                                -->
                File to upload:<input type="file" name="file" /><br />
                <input type="submit" value="Upload" />
            </form>
        </div>

        <div>
            <ul>
                <li data-th-each="file : ${files}">
                    <a data-th-href="${file}" data-th-text="${file}"></a>
                </li>
            </ul>
        </div>

        <form data-th-action = "@{/mainpage}">
            <input type = "submit" value = "Back"/>
        </form>
    </body>
</html>